 @font-face {
    font-family: Fraunces Italic Variable;
    src: url(../typography/Fraunces\ Italic\ Variable\ Font.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url(../typography/RobotoMono-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes headerFadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

html{
    /* custom cursor */
    /* design system colors for the website*/

    cursor: url('../images/eye-cursor.png'),auto;

    --background-color: #FAF8EF;
    --box-color: #FFEDD5;
    --stroke-color: #CE9177;
    --heading-color: #9A3413;
    --pararaph-color: #838387;
    --occasion-top-color: #414843;
    --mood-brand-color: #405D7D;
    --weather-link-color: #991B1B;
    --spotify-li-color: #854D0F;
    --pinterest-li-color: #6B21A8;
    --portfolio-li-color: #991B1B;
}

* {
    box-sizing: border-box;
   }

body {
    background-color: #FAF8EF;
    background-image: url('../images/bg-1.png');
    background-repeat: repeat;
}

h1 {
    font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.25rem;
    color: var(--heading-color);
}

h2 {
    font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--heading-color);
    margin: 12px 0 8px 0;
}

p {
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: .8125rem;
    line-height: 20px;
    color: var(--pararaph-color);
}

/*custom spacing throughout the CSS */
.h1-bottom-16-top-36 {
    margin-bottom: 16px;
    margin-top: 36px;
}

.h1-bottom-16-top-24 {
    margin-bottom: 16px;
    margin-top: 24px;
}

.h1-bottom-8 {
    margin-bottom: 8px;
    margin-top: 0;
}

.h1-bottom-8-top-8 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.p-bottom-24-top-16 {
    margin-bottom: 24px;
    margin-top: 16px;
}

.p-bottom-16-top-24 {
    margin-bottom: 16px;
    margin-top: 24px;
}

.p-bottom-0 {
    margin: 0;
}

.img-bottom-36 {
    margin-bottom: 36px;
}

.menu-top-24 {
    margin-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 0 0;
    animation: headerFadeInUp 0.45s ease-in-out forwards;
}

.logo{
    width: 43px;
    height: 46px;
}

a {
    text-decoration: none;

}

.about-a {
    color: #9A3413;
    text-decoration: none;
}

hr{
    border: none;
    border-top: 2px dotted var(--pararaph-color);
    border-color: #9A3413;
}

.hr-bottom {
    border: none;
    border-top: 2px dotted var(--pararaph-color);
    border-color: #9A3413;
    margin-bottom: 30px;
}

.container {
    /* this container is used to combine external links/image in the about page  */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0 0 30px 0;
}

.plink-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 20px;
}

.plink-list li {
    margin: 10px 0;
}

.plink-list a {
    text-decoration: none;
}

.plink-img {
    max-width: 150px;
    height: auto;
}

.hover-image {
    /* this animation allows users to switch between two photos while hovering */
    width: 150px;
    height: 240.48px;
    background-image: url(../images/about_3_small.png);
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}

.hover-image:hover {
    background-image: url(../images/about_4_small.png);
}

.plink-list a[href*="framer"] { color: var(--portfolio-li-color); } /* Portfolio color selection */
.plink-list a[href*="linkedin"] { color: var(--occasion-top-color); } /* LinkedIn color selection*/
.plink-list a[href*="github"] { color: var(--mood-brand-color); } /* GitHub color selection*/
.plink-list a[href*="spotify"] { color: var(--spotify-li-color); } /* Spotify color selection*/
.plink-list a[href*="pin"] { color: var(--pinterest-li-color); } /* Pinterest color selection*/
.plink-list a[href*="instagram"] { color: var(--heading-color); } /* Instagram color selection*/

.green {
    /* used for categorizing occasion, mood, weather */
    color: var(--occasion-top-color);
}

h2.green {
    color: var(--heading-color);
}

.blue {
    /* used for categorizing occasion, mood, weather */
    color: var(--mood-brand-color);
}

.red {
    /* used for categorizing occasion, mood, weather */
    color: var(--weather-link-color)
}

p.red {
    margin-bottom: 0;
}

.tag {
    /* used for bordering occasion, mood, weather */
    display: inline-block;
    padding: 4px 6px;
    margin: 0 0 6px 0;
    border: 2px dotted #9A3413;
    border-radius: 4px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    animation: fadeInUp .45s ease-in-out forwards;
}

.page-nav p {
    font-size: 16px;
}

.footer {
    text-align: right;
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #9A3413;
    animation: FadeInUp .6s ease-in-out forwards;
}

.grid-container {
    /* grid container stores all index cards. 
    In large screen, they allow to fit 3 index card max
    In medium screens, they allow max of 2
    In small screen, they allow max 1 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1.8s forwards;
    transform: translateY(1.25rem);
}

.index.card {
    z-index: 10;
    background-color: #FAF8EF;
    opacity: 1;
    border: 2px dotted #9A3413;
    padding: 16px 16px 8px 16px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo.card {
    /* used specifically for photo cards in eg. 02-01 for margin top */
    border: 2px dotted #9A3413;
    padding: 16px 16px 8px 16px;
    border-radius: 8px;
    margin: 24px 0 0 0;
}

.photo-card-container {
    /* photocard container stores photo card and outfit details
    allows the placement of horizontal in large
    allows the placement of vertical in medium/small */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    margin: 0 0 24px 0;
    animation: fadeInUp .45s ease-in-out forwards;
}

.photo-outfit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.detail-wrapper {
    /* used for outfit details. "top, brand, linked" */
    padding: 10px;
    border: 2px dotted #9A3413;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 8px;
}

.outfit-details {
    border: 2px dotted #9A3413;
    padding: 16px 16px 8px 16px;
    border-radius: 8px;
    margin: 24px 0 0 0;
}

.p_img {
    /* used specifically for img in the photo card for margin top */
    width: 100%;
    height: auto;
    border: 2px dotted #9A3413;
    border-radius: 4px;
    margin-top: 8px;
}

.a_img_wrapper {
    /* enables border styling for the box */
    padding: 10px 10px 6.5px 10px;
    border: 2px dotted #9A3413;
    border-radius: 8px;
    text-decoration: none;
}

.a_img {
    /* enables border styling for the img */
    width: 100%;
    height: auto;
    border: 2px dotted #9A3413;
    border-radius: 4px;
    text-decoration: none;
}

a, .about-a, .plink-list a {
    /* custom cursor style */
    cursor: url('../images/link-cursor.png') 16 16, pointer;
}

.animate h1 {
    animation: fadeInUp 0.45s ease-in-out forwards;
    transform: translateY(1.25rem);
}

.animate p {
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1s forwards;
    transform: translateY(1.25rem);
}

h2.h1-bottom-16-top-24 {
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1.8s forwards;
}

.hr-index {
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1.8s forwards;
}

.a-animate h1 {
    animation: fadeInUp 0.45s ease-in-out forwards;
    transform: translateY(1.25rem);
}

.a-animate p {
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1s forwards;
    transform: translateY(1.25rem);
}

.a-b-animate {
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1s forwards;
    transform: translateY(1.25rem);
}

@media (min-width: 1512px) {
    body {
        margin-inline: 241px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .photo-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        width: 100%;
    }

    .animate {
        text-align: center;
        margin: 100px;
    }

    .h1-index {
        font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 4rem;
        color: var(--heading-color);
    }
    
    .p-index{
        font-family: Roboto Mono, 'Courier New', Courier, monospace;
        font-weight: 300;
        font-size: 1rem;
        line-height: 20px;
        color: var(--pararaph-color);
    }    


    .index.card:hover {
        transform: rotate(-5deg);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
        opacity: 1;
        z-index: 10;
    }

    .index.card:not(:hover) {
        opacity: 0.5;
        z-index: 1;
    }   
}

@media (min-width: 834px) and (max-width: 1512px) {
    body {
        margin-inline: 60px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo-card-container {
        display: block;
    }

    .animate {
        text-align: center;
        margin: 70px;
    }

    .h1-index {
        font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 4rem;
        color: var(--heading-color);
    }
    
    .p-index{
        font-family: Roboto Mono, 'Courier New', Courier, monospace;
        font-weight: 300;
        font-size: 1rem;
        line-height: 20px;
        color: var(--pararaph-color);
    }    
}

@media (min-width: 330px) and (max-width: 834px) {
    body {
        margin-inline: 26px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .photo-card-container {
        display: block;
    }
}