@font-face {
    font-family: Fraunces Italic Variable;
    src: url(../typography/Fraunces\ Italic\ Variable\ Font.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url(../typography/RobotoMono-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    /* design system colors & spacing for the website*/
    --background-color: #F5F4F1;
    --box-color: #FFEDD5;
    --stroke-color: #CE9177;
    --heading-color: #9A3413;
    --pararaph-color: #838387;
    --occasion-top-color: #414843;
    --mood-brand-color: #405D7D;
    --weather-link-color: #991B1B;
    --spotify-li-color: #854D0F;
    --pinterest-li-color: #6B21A8;
    --portfolio-li-color: #991B1B;

    --pp-top-16: 16px;
    --p-bottom-16: 16px;
    --p-bottom-24: 24px;
    --h1-bottom-8: 8px;
    --h1-bottom-16-top-36: 36px;
    --h1-bottom-16-top-24: 24px;
    --h1-bottom-8-top-10: 10px;
    --h2--bottom-16-top-24: 24px;
    --img-bottom-36: 36px;
    --box-bottom-8: 8px;
    --box-bottom-36: 36px;
    --menu-top-24: 24px;
}

* {
    box-sizing: border-box;
   }

body {
    background-color: var(--background-color);
}

h1{
    font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.25rem;
    color: var(--heading-color);
}

h2{
    font-family: Fraunces Italic Variable, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--heading-color);
    margin: 12px 0 8px 0;
}

p{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: .8125rem;
    line-height: 20px;
    color: var(--pararaph-color);
}

/*custom spacing throughout the CSS */
.p-bottom-24-top-16 {
    margin-bottom: var(--h1-bottom-16-top-24);
    margin-top: var(--pp-top-16);
}

.p-bottom-16-top-24 {
    margin-bottom: var(--p-bottom-16);
    margin-top: var(--h1-bottom-16-top-24);
}

.h1-bottom-16-top-36 {
    margin-bottom: var(--p-bottom-16);
    margin-top: var(--h1-bottom-16-top-36);
}

.h1-bottom-8 {
    margin-bottom: var(--h1-bottom-8);
}

.h1-bottom-16-top-24 {
    margin-bottom: var(--p-bottom-16);
    margin-top: var(--h1-bottom-16-top-24);
}

.h1-bottom-8-top-10 {
    margin-bottom: var(--p-bottom-16);
    margin-top: var(--h1-bottom-8-top-10);
}

.img-bottom-36 {
    margin-bottom: var(--img-bottom-36);
}

.menu-top-24 {
    margin-top: var(--menu-top-24);
}

.header {
    /* this css styling ensures that my header is aligned properly. 
    such as, logo on the left and menu on the right side of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 0 0;
}

.logo{
    width: 43px;
    height: 46px;
}

.about-a {
    color: #991B1B;
    text-decoration: none;
}

hr{
    border: none;
    border-top: 2px dotted var(--pararaph-color);
    border-color: #CE9177;
}

.hr-bottom {
    border: none;
    border-top: 2px dotted var(--pararaph-color);
    border-color: #CE9177;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0 0 30px 0;
}

.plink-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 20px;
}

.plink-list li {
    margin: 10px 0;
}

.plink-list a {
    text-decoration: none;
}

.plink-img {
    max-width: 150px;
    height: auto;
}

.plink-list a[href*="framer"] { color: var(--portfolio-li-color); } /* Portfolio color selection */
.plink-list a[href*="linkedin"] { color: var(--occasion-top-color); } /* LinkedIn color selection*/
.plink-list a[href*="github"] { color: var(--mood-brand-color); } /* GitHub color selection*/
.plink-list a[href*="spotify"] { color: var(--spotify-li-color); } /* Spotify color selection*/
.plink-list a[href*="pin"] { color: var(--pinterest-li-color); } /* Pinterest color selection*/
.plink-list a[href*="instagram"] { color: var(--heading-color); } /* Instagram color selection*/

.detail-wrapper {
    /* used for outfit details. "top, brand, linked" */
    padding: 10px;
    border: 2px dotted #CE9177;
    border-radius: 8px;
    width: 100%;
    background-color: #FFEDD5;
    margin-bottom: 8px;
}

.green {
    /* used for categorizing occasion, mood, weather */
    color: var(--occasion-top-color);
}

.blue {
    /* used for categorizing occasion, mood, weather */
    color: var(--mood-brand-color);
}

.red {
    /* used for categorizing occasion, mood, weather */
    color: var(--weather-link-color)
}

.tag {
    /* used for bordering occasion, mood, weather */
    display: inline-block;
    padding: 4px 6px;
    margin: 0 0 6px 0;
    border: 2px dotted #CE9177;
    border-radius: 4px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.page-nav p {
    font-size: 16px;
}

.footer {
    text-align: right;
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #9A3413;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 0 0 30px 0;
}

.index.card {
    border: 2px dotted #CE9177;
    padding: 16px 16px 4px 16px;
    border-radius: 8px;
    background-color: #FFEDD5;
}

/* used specifically for photo cards in eg. 02-01 for margin top */
.photo.card {
    border: 2px dotted #CE9177;
    padding: 16px 16px 4px 16px;
    border-radius: 8px;
    background-color: #FFEDD5;
    margin: 24px 0 0 0;
}

/* used specifically for img in the photo card for margin top */
.p_img {
    width: 100%;
    height: auto;
    border: 2px dotted #CE9177;
    border-radius: 4px;
    background-color: #FFEDD5;
    margin-top: 8px;
}

/* enables border styling for the box */
.a_img_wrapper {
    padding: 10px;
    border: 2px dotted #CE9177;
    border-radius: 8px;
    background-color: #FFEDD5;
}

/* enables border styling for the img */
.a_img {
    width: 100%;
    height: auto;
    border: 2px dotted #CE9177;
    border-radius: 4px;
    background-color: #FFEDD5;
}

@media (min-width: 1512px) {
    body {
        margin-inline: 241px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width >= 834px) and (width <= 1512px) {
    body {
        margin-inline: 75px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 390px) and (width <= 834px) {
    body {
        margin-inline: 26px;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}